{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper" style="margin-top: 50px;">
        <div id="container">
        <h2 class="page-header">{{ message }}</h2>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
{% endblock %}
